<%= form_with(model: business) do |form| %>
  <% if business.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(business.errors.count, "error") %> prohibited this business from being saved:</h2>

      <ul>
        <% business.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :address, class: "form-label" %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :phone, class: "form-label" %>
        <%= form.text_field :phone, class: "form-control" %>
      </div>

      <% if current_user.admin? %>
        <div class="mb-3">
          <%= form.label :owner_id, class: "form-label" %>
          <%= collection_select(
                :owner, :owner_id, User.all, :id, :name, { prompt: true }, class: "form-control"
              ) %>
        </div>
        
      <% end %>

      <div class="actions">
        <%= form.submit class: "btn btn-primary"%>
      </div>

    </div>
  </div>

<% end %>
