<h1 class="display-1 text-center"><%= @business.name %></h1>

<%= form_with(model: @business) do |form| %>

  <div class="card">
    <% if can? :update, @business %>
      <div class="top-right">
        <div class="btn btn-outline-light btn-sm">
          <%= link_to edit_business_path(@business), class: "btn" do %>
            <%= svg('pencil-square') %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card-body">
      <fieldset disabled>

        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.text_field :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :address, class: "form-label" %>
          <%= form.text_field :address, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :phone, class: "form-label" %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>

        <% if current_user.admin? %>
          <div class="mb-3">
            <%= form.label :owner_id, class: "form-label" %>
            <div onclick="location.href='<%= user_path(@business.owner) %>'" class="clickable">
              <%= form.collection_select(:owner_id, User.all, :id, :name, { prompt: true }, class: "form-control clickable" ) %>
            </div>
          </div>

        <% end %>

      </fieldset>
    </div>
  </div>

<% end %>

<% if current_user.business_belongs == @business or current_user.admin? %>
  <br>

  <div class="card text-center">
    <div class="card-header">
      <h2 class="float-start">Users</h2>
    </div>
    <div class="card-body">
      <table class="table table-hover table-striped table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Role</th>
          </tr>
        </thead>

        <tbody>
          <% @business.users_business_user.each do |user_and_role| %>
            <tr onclick="location.href='<%= user_path(user_and_role.user) %>'" class="clickable">
              <td><%= user_and_role.user.name %></td>
              <td><%= user_and_role.role.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>

<br>

<% if @current_user.tradesmen? %>
  <% if not @business_tradesmen_profile and can? :create, BusinessesTradesmenProfile%>
    <%= button_to 'Trust', businesses_tradesmen_profile_index_path(business_id: @business.id, tradesmen_profile_id: @current_user.tradesmen_profile_belongs.id), method: :post, action: :create %>
  <% elsif can? :destroy, BusinessesTradesmenProfile and @business_tradesmen_profile != nil %>
    <%= button_to 'Untrust', businesses_tradesmen_profile_path(id: @business_tradesmen_profile.id), method: :delete, action: 'destroy' %>
  <% end %>
<% end %>

<br>
