<ul class="nav nav-tabs">
  <li class="nav-item"><%= link_to 'Trusted', trusted_businesses_path, class: "nav-link active" %></li>
  <li class="nav-item"><%= link_to 'All', businesses_path, class: "nav-link" %></li>
</ul>

<h1 class="display-1 text-center">My Businesses</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody>
    <% @businesses.each do |business| %>
      <tr onclick="location.href='<%= business_path(business) %>'">
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.address %></td>
        <td><%= business.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
