<h1 class="display-1 text-center">Trusted Businesses</h1>

<% if current_user.tradesmen? %>
  <%= render "index_nav" %>
<% end %>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Address</th>
      <th>Phone</th>
    </tr>
  </thead>

  <tbody id="main-paginated">
    <% @businesses.each do |business| %>
      <tr onclick="location.href='<%= business_path(business) %>'" class="clickable">
        <td><%= business.name %></td>
        <td><%= business.description %></td>
        <td><%= business.address %></td>
        <td><%= business.phone %></td>
      </tr>
    <% end %>
  </tbody>
</table>
