<div class="card">
  <h1 class="display-1 text-center"><%= @tradesmen_trade.name %></h1>

  <% if can? :update, @tradesmen_trade %>
    <div class="top-right">
      <div class="btn btn-outline-light btn-sm">
        <%= link_to edit_tradesmen_trade_path(@tradesmen_trade), class: "btn" do %>
          <%= svg('pencil-square') %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="card text-center">
  <div class="card-header">
    <h2 class="float-start">Tradesmen</h2>
  </div>
  <div class="card-body">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>

      <tbody>
        <% @tradesmen_trade.tradesmen_profiles.each do |profile| %>
          <tr onclick="location.href='<%= tradesmen_profile_path(profile) %>'" class="clickable">
            <th><%= profile.name %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
