<%= form_with(model: role_category) do |form| %>
  <% if role_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(role_category.errors.count, "error") %> prohibited this role_category from being saved:</h2>

      <ul>
        <% role_category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
