<%= simple_form_for @job do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
        <% job.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :address %>
  <%= f.input :status %>
  <% if current_user.admin? %>
    <%= f.association :business %>
  <% end %>
  <%= f.association :tradesmen_profile, collection: current_user.business_belongs.tradesmen %>
  <%= f.button :submit %>

<% end %>
