<%= form_with(model: job) do |form| %>

  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :address, class: "form-label" %>
        <%= form.text_field :address, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :status, class: "form-label" %>
        <%= form.text_field :status, class: "form-control" %>
      </div>

      <div class="mb-3 form-check form-switch">
        <%= form.check_box :active, checked: true, class: "form-check-input", id: "active_switch" %> <!-- FIXME: active can't be blank error when deactivating job -->
        <%= form.label :active, class: "form-label", for: "active_check" %>
      </div>

      <% if current_user.admin? %>
        <div class="mb-3">
          <%= form.label :business, class: "form-label" %>
          <%= form.collection_select(:business_id, Business.all, :id, :name, { prompt: true }, class: "form-control") %>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :tradesmen_profile, class: "form-label" %>
        <%= form.collection_select(:tradesmen_profile_id, TradesmenProfile.all, :id, :name, { prompt: true }, class: "form-control") %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>

    </div>
  </div>

<% end %>
