<% if current_user.booker? %>
  <%= render "mine_nav" %>
<% else %>
  <%= render "index_nav" %>
<% end %>

<h1 class="display-1 text-center">Jobs</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
  <tr>
    <th>Title</th>
    <th>Address</th>
    <% if current_user.tradesmen? or current_user.admin?%>
      <th class="hides">Business</th>
    <% end %>
    <% if current_user.booker? or current_user.admin? %>
      <th class="hides">Tradesmen</th>
    <% end %>
    <th class="hides">Posted</th>
  </tr>
  </thead>

  <tbody id="main-paginated">
  <% @jobs.each do |job| %>
    <tr>
      <td><%= link_to job.title, job_path(job) %></td>
      <td><%= "#{job.address_post_code}" %></td>
      <% if current_user.tradesmen? or current_user.admin?%>
        <td class="hides"><%= link_to job.business.name, business_path(job.business) %></td>
      <% end %>
      <% if current_user.booker? or current_user.admin? %>
        <td class="hides"><%= link_to job.tradesmen_profile.name, tradesmen_profile_path(job.tradesmen_profile) if job.tradesmen_profile.present? %></td>
      <% end %>
      <td class="hides"><%= job.posted.strftime("%d/%m/%Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Job %>
  <%= link_to 'New Job', new_job_path, class: "btn btn-primary" %>
<% end %>
