<p id="notice"><%= notice %></p>

<h1>Jobs</h1>

<table class="table table-hover table-striped table-bordered">  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Status</th>
      <th>Active</th>
      <% if current_user.tradesmen? or current_user.admin?%>
        <th>Business</th>
      <% end %>
      <% if current_user.booker? or current_user.admin? %>
        <th>Tradesmen</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.address %></td>
        <td><%= job.status %></td>
        <td><%= job.active %></td>
        <% if current_user.tradesmen? or current_user.admin?%>
          <td><%= job.business.name %></td>
        <% end %>
        <% if current_user.booker? or current_user.admin? %>
          <td><%= job.tradesmen_profile.name if job.tradesmen_profile.present? %></td>
        <% end %>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.booker? or current_user.admin? %>
  <%= link_to 'New Job', new_job_path %>
<% end %>
