<p id="notice"><%= notice %></p>

<h1 class="display-1 text-center">Jobs</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Address</th>
      <th>Status</th>
      <th>Active</th>
      <% if current_user.tradesmen? or current_user.admin?%>
        <th>Business</th>
      <% end %>
      <% if current_user.booker? or current_user.admin? %>
        <th>Tradesmen</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr onclick="location.href='<%= job_path(job) %>'" class="clickable">
        <td><%= job.title %></td>
        <td><%= job.description %></td>
        <td><%= job.address %></td>
        <td><%= job.status %></td>
        <td><%= job.active %></td>
        <% if current_user.tradesmen? or current_user.admin?%>
          <td><%= link_to job.business.name, business_path(job.business) %></td>
        <% end %>
        <% if current_user.booker? or current_user.admin? %>
          <td><%= link_to job.tradesmen_profile.name, tradesmen_profile_path(job.tradesmen_profile) if job.tradesmen_profile.present? %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Job %>
  <%= link_to 'New Job', new_job_path %>
<% end %>
