<h1 class="display-1 text-center"><%= @job.title %></h1>

<div class="card">
  <% if can? :update, @job %>
    <div class="top-right">
      <div class="btn btn-outline-light btn-sm">
        <%= link_to edit_job_path(@job), class: "btn" do %>
          <%= svg('pencil-square') %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="card-body">
    <%= form_with(model: @job) do |f| %>
      <fieldset disabled>

        <div class="mb-3">
          <%= f.label :description, class: "form-label" %>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :address, class: "form-label" %>
          <%= f.text_field :address, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= f.label :status, class: "form-label" %>
          <%= f.text_field :status, class: "form-control" %>
        </div>

        <div class="mb-3 form-check form-switch">
          <%= f.check_box :active, checked: true, class: "form-check-input", id: "active_switch" %>
          <%= f.label :active, class: "form-label", for: "active_check" %>
        </div>

        <% if current_user.admin? %>
          <div class="mb-3">
            <%= f.label :business, class: "form-label" %>
            <div onclick="location.href='<%= business_path(@job.business) %>'">
              <%= f.text_field :business, value: @job.business.name, class: "form-control clickable" %>
            </div>
          </div>
        <% end %>

        <% if @job.tradesmen_profile %>
          <div class="mb-3">
            <%= f.label :tradesmen_profile, class: "form-label" %>
            <div onclick="location.href='<%= tradesmen_profile_path(@job.tradesmen_profile) %>'">
              <%= f.text_field :tradesmen_profile, class: "form-control clickable" %>
            </div>
          </div>
        <% end %>

        <% if @job.job_tradesmen_application %>
          <div class="mb-3">
            <%= fields_for :job_tradesmen_application, @job.job_tradesmen_application do |job_tradesmen_application_form| %>
              <%= job_tradesmen_application_form.label "Booked for", class: "form-label" %>
              <%= job_tradesmen_application_form.date_field :date, class: "form-control"  %>
            <% end %>
          </div>
        <% end %>

      </fieldset>
    <% end %>
    <% if current_user.tradesmen? and !current_user.tradesmen_profile_belongs.job_tradesmen_application(@job) %>
      <br>
      <%= link_to "Apply", new_job_job_tradesmen_application_path(@job), class: "btn btn-primary form-control" %>
    <% end %>
  </div>
</div>

<% if !@job.tradesmen_profile and @job.business == current_user.business_belongs %>
  <br>
  <%= render "job_tradesmen_applications/index" %>
<% end %>
