<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h2><%= @job.title %></h2>
      </div>
      <% if can? :update, @job %>
        <div class="col-md-2 float-end">
          <div class="btn btn-outline-light btn-sm">
            <%= link_to edit_job_path(@job), class: "btn" do %>
              <%= svg('pencil-square', width: '25px', height: '25px') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-striped table-bordered table-responsive">
      <tbody>
        <tr>
          <td>Description</td>
          <td><%= @job.description %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @job.address %></td>
        </tr>
        <tr>
          <td>Status</td>
          <td><%= @job.status %></td>
        </tr>
        <tr>
          <td>Active</td>
          <td><%= @job.active %></td>
        </tr>
        <% if @current_user.admin? %>
          <tr onclick="location.href='<%= business_path(@job.business) %>'" class="clickable">
            <td>Business</td>
            <td><%= @job.business.name %></td>
          </tr>
        <% end %>
        <% if @job.tradesmen_profile.present? %>
          <tr onclick="location.href='<%= tradesmen_profile_path(@job.tradesmen_profile) %>'" class="clickable">
            <td>Tradesmen Profile</td>
            <td><%= @job.tradesmen_profile.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Back', 'javascript:history.back()' %>
