<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job.address %>
</p>

<p>
  <strong>Status:</strong>
  <%= @job.status %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<p>
  <strong>Business:</strong>
  <%= link_to @job.business.name, business_path(@job.business) %>
</p>

<% if @job.tradesmen_profile.present? %>
  <p>
    <strong>Tradesmen:</strong>
    <%= link_to @job.tradesmen_profile.name, tradesmen_profile_path(@job.tradesmen_profile) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
