<p id="notice"><%= notice %></p>

<h1 class="display-1 text-center">Users</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th class="hides">Address</th>
      <th>Phone</th>
      <th class="hides">Phone2</th>
      <% if current_user.admin? %>
        <th class="hides">Role</th>
        <th class="hides">Tradesmen Profile</th>
        <th class="hides">Business</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr onclick="location.href='<%= user_path(user) %>'" class="clickable">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td class="hides"><%= user.address %></td>
        <td><%= user.phone %></td>
        <td class="hides"><%= user.phone2 %></td>
        <% if current_user.admin? %>
          <td class="hides"><%= user.role.name %></td>
          <td class="hides">
            <% if user.tradesmen_profile_belongs.present? %>
              <%= link_to user.tradesmen_profile_belongs.name, tradesmen_profile_path(id: user.tradesmen_profile_belongs.id) %>
            <% end %>
          </td>
          <td class="hides">
            <% if user.business_belongs.present? %>
              <%= link_to user.business_belongs.name, business_path(id: user.business_belongs.id) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>
