<p id="notice"><%= notice %></p>

<h1 class="display-1 text-center">Users</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Phone2</th>
      <% if current_user.admin? %>
        <th>Role</th>
        <th>Tradesmen Profile</th>
        <th>Business</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr onclick="location.href='<%= user_path(user) %>'">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.address %></td>
        <td><%= user.phone %></td>
        <td><%= user.phone2 %></td>
        <% if current_user.admin? %>
          <td><%= user.role.name %></td>
          <td>
            <% if user.tradesmen_profile.present? %>
              <%= link_to user.tradesmen_profile.name, tradesmen_profile_path(id: user.tradesmen_profile.id) %>
            <% end %>
          </td>
          <td>
            <% if user.business.present? %>
              <%= link_to user.business.name, business_path(id: user.business.id) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, User %>
  <%= link_to 'New User', new_user_path %>
<% end %>
