<p id="notice"><%= notice %></p>

<h1 class="display-1 text-center">Users</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th class="hides">Address</th>
      <th>Phone</th>
      <th class="hides">Phone2</th>
      <% if current_user.admin? %>
        <th class="hides">Role</th>
        <th class="hides">Tradesmen Profile</th>
        <th class="hides">Business</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="clickable">
        <td onclick="location.href='<%= user_path(user) %>'"><%= user.name %></td>
        <td onclick="location.href='<%= user_path(user) %>'"><%= user.email %></td>
        <td onclick="location.href='<%= user_path(user) %>'" class="hides"><%= user.address %></td>
        <td onclick="location.href='<%= user_path(user) %>'"><%= user.phone %></td>
        <td onclick="location.href='<%= user_path(user) %>'" class="hides"><%= user.phone2 %></td>
        <% if current_user.admin? %>
          <td onclick="location.href='<%= user_path(user) %>'" class="hides"><%= user.role.name %></td>
          <% if user.tradesmen_profile_belongs.present? %>
            <td onclick="location.href='<%= tradesmen_profile_path(id: user.tradesmen_profile_belongs.id) %>'" class="hides">
              <%= user.tradesmen_profile_belongs.name %>
          <% else %>
            <td onclick="location.href='<%= user_path(user) %>'">
          <% end %>
          </td>
          <% if user.business_belongs.present? %>
            <td onclick="location.href='<%= business_path(id: user.business_belongs.id) %>'" class="hides">
              <%= user.business_belongs.name %>
          <% else %>
            <td onclick="location.href='<%= user_path(user) %>'">
          <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, User %>
  <%= button_to 'New User', new_user_path, class: "btn btn-primary", method: :get %>
<% end %>
