<p id="notice"><%= notice %></p>

<h1 class="display-1 text-center"><%= @user.name %></h1>

<%= form_with(model: @user) do |form| %>

  <div class="card">
    <% if can? :update, @user %>
      <div class="top-right">
        <div class="btn btn-outline-light btn-sm">
          <%= link_to edit_user_path(@user), class: "btn" do %>
            <%= svg('pencil-square') %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card-body">
      <fieldset disabled>

        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :phone, class: "form-label" %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>

        <% if current_user.admin? %>
          <div class="mb-3">
            <%= form.label :role_id, class: "form-label" %>
            <%= form.collection_select(
                  :role_id, Role.user_category, :id, :name, { prompt: true }, class: "form-control"
                ) %>
          </div>
        <% end %>

      </fieldset>
    </div>
  </div>

<% end %>
