<p id="notice"><%= notice %></p>

<div class="card text-center">
  <div class="card-header container-fluid">
    <div class="row">
      <div class="col-md-10">
        <h2 class="float-start"><%= @user.name %></h2>
      </div>
      <% if can? :update, @user %>
        <div class="col-md-2 float-end">
          <div class="btn btn-outline-light btn-sm">
            <%= link_to edit_user_path(@user), class: "btn" do %>
              <%= svg('pencil-square', width: '25px', height: '25px') %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover table-striped table-bordered table-responsive">
      <tbody>
        <tr>
          <td>Email</td>
          <td><%= @user.email %></td>
        </tr>
        <tr>
          <td>Address</td>
          <td><%= @user.address %></td>
        </tr>
        <tr>
          <td>Phone</td>
          <td><%= @user.phone %></td>
        </tr>
        <tr>
          <td>Phone2</td>
          <td><%= @user.phone2 %></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td><%= @user.date_of_birth %></td>
        </tr>
        <tr>
          <td>Role</td>
          <td><%= @user.role.name %></td>
        </tr>
        <% if @user.business_belongs.present? %>
          <tr onclick="location.href='<%= business_path(@user.business) %>'" class="clickable">
            <td>Business</td>
            <td><%= @user.business.name %></td>
          </tr>
        <% end %>
        <% if @user.tradesmen_profile_belongs.present? %>
          <tr onclick="location.href='<%= tradesmen_profile_path(@user.tradesmen_profile_belongs) %>'" class="clickable">
            <td>Tradesmen Profile</td>
            <td><%= @user.tradesmen_profile_belongs.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
