<h1 class="display-1 text-center"><%= @user.name %></h1>

<%= form_with(model: @user, authenticity_token: false) do |form| %>

  <div class="card">
    <% if can? :update, @user %>
      <div class="top-right">
        <div class="btn btn-outline-light btn-sm">
          <% if @user.id == @current_user.id %>
            <%= link_to edit_user_registration_path, class: "btn" do %>
              <%= svg('pencil-square') %>
            <% end %>
          <% else %>
            <%= link_to edit_user_path(@user), class: "btn" do %>
              <%= svg('pencil-square') %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card-body">
      <fieldset disabled>

        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :phone, class: "form-label" %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>

        <% if @user.business_belongs.present? %>
          <div class="mb-3">
            <%= form.label :business, class: "form-label" %>
            <%= link_to business_path(@user.business_belongs) do %>
              <%= form.text_field :business, value: @user.business_belongs.name, class: "form-control clickable" %>
            <% end %>
          </div>
        <% elsif @user.tradesmen_profile_belongs.present? %>
          <div class="mb-3">
            <%= form.label :tradesmen_profile, class: "form-label" %>
            <%= link_to tradesmen_profile_path(@user.tradesmen_profile_belongs) do %>
              <%= form.text_field :tradesmen_profile, value: @user.tradesmen_profile_belongs.name, class: "form-control clickable" %>
            <% end %>
          </div>
        <% end %>

      </fieldset>
    </div>
  </div>

<% end %>
