<h1 class="display-1 text-center"><%= @user.name %></h1>

<%= form_with(model: @user) do |form| %>

  <div class="card">
    <% if can? :update, @user %>
      <div class="top-right">
        <div class="btn btn-outline-light btn-sm">
          <% if @user.id == @current_user.id %>
            <%= link_to edit_user_registration_path, class: "btn" do %>
              <%= svg('pencil-square') %>
            <% end %>
          <% else %>
            <%= link_to edit_user_path(@user), class: "btn" do %>
              <%= svg('pencil-square') %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card-body">
      <fieldset disabled>

        <div class="mb-3">
          <%= form.label :email, class: "form-label" %>
          <%= form.text_field :email, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :phone, class: "form-label" %>
          <%= form.text_field :phone, class: "form-control" %>
        </div>

        <% if @current_user.business_belongs.present? %>
          <div class="mb-3">
            <%= form.label :business, class: "form-label" %>
            <div onclick="location.href='<%= business_path(@current_user.business_belongs) %>'" class="clickable">
              <%= form.collection_select(:business, Business.all, :id, :name, { prompt: true }, class: "form-control") %>
            </div>
          </div>
        <% elsif @current_user.tradesmen_profile_belongs.present? %>
            <div class="mb-3">
              <%= form.label :tradesmen_profile, class: "form-label" %>
              <div onclick="location.href='<%= tradesmen_profile_path(@current_user.tradesmen_profile_belongs) %>'" class="clickable">
                <%= form.collection_select(:tradesmen_profile, TradesmenProfile.all, :id, :name, { prompt: true }, class: "form-control") %>
              </div>
            </div>
          <% end %>

      </fieldset>
    </div>
  </div>

<% end %>
