<%= form_for @job_tradesmen_application, locals do |f| %>

  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= f.label :date, class: "form-label" %>
        <%= f.date_field :date, class: "form-control" %>
      </div>

      <% if @job.quote_required  %>
        <div class="mb-3">
          <%= f.label :quote, class: "form-label" %>
          <%= f.number_field :quote, class: "form-control" %>
        </div>
      <% end %>

      <% if current_user.admin? %>
        <div class="mb-3">
          <%= f.label :tradesmen_profile_id, class: "form-label" %>
          <%= f.collection_select(:tradesmen_profile_id, TradesmenProfile.all, :id, :name, { prompt: true }, class: "form-control") %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Apply", class: "btn btn-primary"%>
      </div>

    </div>
  </div>

<% end %>
