<%= form_with(model: businesses_tradesmen_profile) do |form| %>
  <% if businesses_tradesmen_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(businesses_tradesmen_profile.errors.count, "error") %> prohibited this businesses_tradesmen_profile from being saved:</h2>

      <ul>
        <% businesses_tradesmen_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :business_id %>
    <%= form.text_field :business_id %>
  </div>

  <div class="field">
    <%= form.label :tradesmen_profile_id %>
    <%= form.text_field :tradesmen_profile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
