<%= form_with(model: tradesmen_profile) do |form| %>
  <% if tradesmen_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tradesmen_profile.errors.count, "error") %> prohibited this tradesmen_profile from being saved:</h2>

      <ul>
        <% tradesmen_profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-body">

      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>

      <div class="mb-3 form-check form-switch">
        <%= form.label :tradesmen_trades, class: "form-label" %>
        <div class="container">
          <%= collection_check_boxes :tradesmen_profile, :tradesmen_trade_ids, TradesmenTrade.all, :id, :name, class: "form-control" do |b| %>
            <div class="row">
              <%= b.check_box class: "form-check-input", id: b.text + "_trade_toggle"%>
              <%= b.label class: "form-label", for: b.text + "_trade_toggle" %>
            </div>
          <% end %>
        </div>
      </div>

      <% if current_user.admin? %>
        <div class="mb-3">
          <%= form.label :owner, class: "form-label" %>
          <%=  collection_select(
                 :tradesmen_profile, :owner_id, User.all, :id, :name, { prompt: true }, class: "form-control"
               ) %>
        </div>
      <% end %>

      <div class="actions">
        <%= form.submit class: "btn btn-primary"%>
      </div>

    </div>
  </div>

<% end %>
