<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tradesmen_profile.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tradesmen_profile.description %>
</p>

<p>
  <strong>Trades:</strong>
  <%= @tradesmen_profile.tradesmen_trades.map(&:name).join(', ') %>
</p>

<p>
  <strong>Owner:</strong>
  <%= link_to @tradesmen_profile.owner.name, user_path(id: @tradesmen_profile.owner.id) %>
</p>

<% if @current_user.booker? %>
  <% if not @business_tradesmen_profile and can? :create, BusinessesTradesmenProfile%>
    <%= button_to 'Trusted', controller: 'businesses_tradesmen_profile', params: { business_id: @current_user.business_belongs.id, tradesmen_profile_id: @tradesmen_profile.id }, method: :post, action: :create %>
  <% elsif can? :destroy, BusinessesTradesmenProfile %>
    <%= button_to 'Untrusted', businesses_tradesmen_profile_path(id: @business_tradesmen_profile.id), method: :delete, action: 'destroy' %>
  <% end %>
<% end %>

<%= link_to 'Edit', edit_tradesmen_profile_path(@tradesmen_profile) %> |
<%= link_to 'Back', tradesmen_profiles_path %>
