<p id="notice"><%= notice %></p>

<div class="card text-center">
  <h2 class="card-title"><%= @tradesmen_profile.name %></h2>
  <div class="card-body">
    <table class="table table-hover table-striped table-bordered table-responsive">
      <tbody>
        <tr>
          <td>Description</td>
          <td><%= @tradesmen_profile.description %></td>
        </tr>
        <tr>
          <td>Trades</td>
          <td><%= @tradesmen_profile.tradesmen_trades.map(&:name).join(', ') %></td>
        </tr>
        <% if @current_user.admin? %>
          <tr onclick="location.href='<%= user_path(@tradesmen_profile.owner) %>'" class="clickable">
            <td>Owner</td>
            <td><%= @tradesmen_profile.owner.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if @current_user.booker? %>
  <% if not @business_tradesmen_profile and can? :create, BusinessesTradesmenProfile%>
    <%= button_to 'Trust', businesses_tradesmen_profile_index_path(business_id: @current_user.business_belongs.id, tradesmen_profile_id: @tradesmen_profile.id), method: :post, action: :create %>
  <% elsif can? :destroy, BusinessesTradesmenProfile %>
    <%= button_to 'Untrust', businesses_tradesmen_profile_path(id: @business_tradesmen_profile.id), method: :delete, action: 'destroy' %>
  <% end %>
<% end %>

<% if can? :update, @tradesmen_profile %>
  <%= link_to 'Edit', edit_tradesmen_profile_path(@tradesmen_profile) %> |
<% end %>

<%= link_to 'Back', tradesmen_profiles_path %>
