<ul class="nav nav-tabs">
  <li class="nav-item"><%= link_to 'Trusted', trusted_tradesmen_profiles_path, class: "nav-link active" %></li>
  <li class="nav-item"><%= link_to 'All', tradesmen_profiles_path, class: "nav-link" %></li>
</ul>

<h1 class="display-1 text-center">Trusted Tradesmen</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Trades</th>
    </tr>
  </thead>

  <tbody id="main-paginated">
  <% @tradesmen.each do |tradesmen_profile| %>
    <tr onclick="location.href='<%= tradesmen_profile_path(tradesmen_profile) %>'" class="clickable">
      <td><%= tradesmen_profile.name %></td>
      <td><%= tradesmen_profile.tradesmen_trades.map(&:name).join(', ') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
