<!DOCTYPE html>
<html>
  <head>
    <title>Lottery Booking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <%= svg("logo") %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item"><%= link_to 'Jobs', jobs_path, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to 'Users', users_path, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to 'Tradesmen', tradesmen_profiles_path, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to 'Businesses', businesses_path, class: 'nav-link active' %></li>
              <% if current_user.admin? %>
                <li class="nav-item"><%= link_to 'Tradesmen Trades', tradesmen_trades_path, class: 'nav-link active' %></li>
              <% end %>
              <li class="nav-item"><%= link_to "Edit Profile", edit_user_registration_path, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link active' %></li>
            </ul>
          </div>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <%= svg("logo") %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link active' %></li>
              <li class="nav-item"><%= link_to 'Sign in', new_user_session_path, class: 'nav-link active' %></li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>

  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
