<!DOCTYPE html>
<html>
  <head>
    <title>Booking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if session.has_key?(:sign_in) %>
      <% session.delete(:sign_in) %>
      <script type=application/javascript>
        fetch ('/users/current_id')
            .then(response => response.json())
            .then(current_id => {
                self.localStorage.setItem("user_id", current_id.id)
            })
      </script>
    <% end %>

    <link rel="manifest" href="/manifest.json" />
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top d-flex">
        <div class="container-fluid">
          <% if current_user.admin? %>
            <%= link_to users_path, class: "navbar-brand" do %><%= svg("logo") %><% end %>
          <% else %>
            <%= link_to mine_active_jobs_path, class: "navbar-brand" do %><%= svg("logo") %><% end %>
          <% end %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav mb-lg-0">
              <li class="nav-item"><h3>
                <% if current_user.admin? %>
                  <%= link_to 'Jobs', jobs_path, class: 'nav-link active' %>
                <% else %>
                  <%= link_to 'Jobs', mine_active_jobs_path, class: 'nav-link active' %>
                <% end %>
              </h3></li>
                <% if current_user.admin? %>
                  <li class="nav-item"><h3><%= link_to 'Users', users_path, class: 'nav-link active' %></h3></li>
                <% elsif current_user.tradesmen_profile_belongs.present? %>
                  <li class="nav-item"><h3><%= link_to current_user.tradesmen_profile_belongs.name, tradesmen_profile_path(current_user.tradesmen_profile_belongs), class: 'nav-link active' %></h3></li>
                <% elsif current_user.business_belongs.present? %>
                  <li class="nav-item"><h3><%= link_to current_user.business_belongs.name, business_path(current_user.business_belongs), class: 'nav-link active' %></h3></li>
                <% end %>
              <% if current_user.admin? or current_user.booker? or !current_user.tradesmen_profile_belongs.present? %>
                <li class="nav-item"><h3>
                  <% if current_user.admin? %>
                    <%= link_to 'Tradesmen', tradesmen_profiles_path, class: 'nav-link active' %>
                  <% else %>
                    <%= link_to 'Tradesmen', trusted_tradesmen_profiles_path, class: 'nav-link active' %>
                  <% end %>
                </h3></li>
              <% end %>
              <li class="nav-item"><h3>
                  <% if current_user.admin? or (current_user.booker? and !current_user.business_belongs.present?) %>
                    <%= link_to 'Businesses', businesses_path, class: 'nav-link active' %>
                  <% elsif current_user.tradesmen? %>
                    <%= link_to 'Businesses', trusted_businesses_path, class: 'nav-link active' %>
                  <% end %>
              </h3></li>
              <% if current_user.admin? %>
                <li class="nav-item"><h3><%= link_to 'Tradesmen Trades', tradesmen_trades_path, class: 'nav-link active' %></h3></li>
              <% end %>
            </ul>
          </div>

          <div class="navbar-nav mb-lg-0">
            <div class="dropdown">
              <a class="dropdown-toggle me-2" href="" id="navbarDropdownMenuLinkNotifications" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= svg("bell") %>
                <% if @unread_notifications_count == 0%>
                  <span class="badge" style="display: none"></span>
                <% else %>
                  <span class="badge"><%= @unread_notifications_count %></span>
                <% end %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLinkNotifications" id="navbarDropdownMenuLinkNotificationsMenu">
                <li class="dropdown-item" id="navbarDropdownMenuLinkNotificationsMenuLoading" style="display: none">Loading...</li>
              </ul>
            </div>
          </div>

          <div class="navbar-nav mb-lg-0">
            <div class="dropdown">
              <a class="dropdown-toggle me-2" href="" id="navbarDropdownMenuLinkProfile" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= svg("person-circle") %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLinkProfile" id="navbarDropdownMenuLinkNotificationsList">
                <li class="dropdown-item"><%= link_to "Profile", user_path(current_user.id), class: 'nav-link active' %></li>
                <li class="dropdown-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link active' %></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    <% else %>
      <nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <%= svg("logo") %>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav me-auto mb-lg-0">
              <li class="nav-item"><h3><%= link_to 'Sign up', new_user_registration_path, class: 'nav-link active' %></h3></li>
              <li class="nav-item"><h3><%= link_to 'Sign in', new_user_session_path, class: 'nav-link active' %></h3></li>
            </ul>
          </div>
        </div>
      </nav>
    <% end %>

  <div class="container-fluid">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "notice" %>
    <% end %>

    <%= yield %>
  </div>
  </body>
</html>
